<!DOCTYPE html>
{% extends 'base.html'%}
<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color: rgb(34,34,34); color: #fff; padding: 100px 25px;">
  <h1>1 MINUTE of FAME</h1>
  <img  src="/app/static/photos/home page.png" alt="hey!picture" />srcset="">
  
</div>

<div class="container">
  <div class="row">
      <div class="col-md-4">
          <div class="well well-lg">
              <h3 style="color:#ecbc1b">Interview Pitch</h3>
              <p style="color:black">Tell everyone what makes you tick!</p>
              <a href="{{url_for('auth.signup')}}" class="btn btn-success -center">View More</a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="well well-lg">
              <h3 style="color:#ecbc1b">Product Pitch</h3>
              <p style="color:black">Would you buy your product? Tell us why.</p>
              <a href="{{url_for('auth.signup')}}" class="btn btn-success -center">View More</a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="well well-lg">
              <h3 style="color:#ecbc1b">Promotion Pitch</h3>
              <p style="color:black"> Why should we care?</p>
              <a href="{{url_for('auth.signup')}}" class="btn btn-success
               -center">View More</a>
          </div>
      </div>
  </div>
</div>

<footer>

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color:  rgb(34,34,34);">
    <p style="color:#fff;" >© 2022 Copyright
      <a class="text-white" style="color:#fff" href="https://github.com/Apondi-Otieno">See my projects..</a>
    </p>
   
  </div>
  <!-- Copyright -->
  
</footer>
  

<!-- End of .container -->
{%endblock%}